<a href="https://colab.research.google.com/github/himalayahall/DATA602/blob/main/07_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assignment 7**

# **Weeks 8 & 9 - Pandas**
* In this homework assignment, you will explore and analyze a public dataset of your choosing. Since this assignment is “open-ended” in nature, you are free to expand upon the requirements below. However, you must meet the minimum requirments as indicated in each section. 

* You must use Pandas as the **primary tool** to process your data.

* The preferred method for this analysis is in a .ipynb file. Feel free to use whichever platform of your choosing.  
 * https://www.youtube.com/watch?v=inN8seMm7UI (Getting started with Colab).

* Your data should need some "work", or be considered "dirty".  You must show your skills in data cleaning/wrangling.

### **Some data examples:**
•	https://www.data.gov/

•	https://opendata.cityofnewyork.us/

•	https://datasetsearch.research.google.com/

•	https://archive.ics.uci.edu/ml/index.php

### **Resources:**

•	https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html 

•	https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html


### **Headings or comments**
**You are required to make use of comments, or headings for each section.  You must explain what your code is doing, and the results of running your code.**  Act as if you were giving this assignment to your manager - you must include clear and descriptive information for each section.

### **You may work as a group or indivdually on this assignment.**

# Introduction

In this section, please describe the dataset you are using.  Include a link to the source of this data.  You should also provide some explanation on why you choose this dataset.

WHO (World Health Organization) [dataset](https://raw.githubusercontent.com/himalayahall/DATA602/main/TB_burden_age_sex_2023-03-24.csv) on global Tuberculosis (TB) burden is used for this assignment. TB is a major health issue in developing countries and this dataset provides a window into the global prevalence and distribution of TB amongst the populations.

______________
# Data Exploration
Import your dataset into your .ipynb, create dataframes, and explore your data.  

Include: 

* Summary statistics means, medians, quartiles, 
* Missing value information
* Any other relevant information about the dataset.

In [299]:
import pandas as pd

In [300]:
# define a couple of functions to print dataset
def print_all(ds):
  print(f'Summary:\n{ds.describe()}\n\nMissing values:\n{ds.isnull().sum()}\n\nShape:\n{ds.shape}\n\n{ds.dtypes}')
  return None

def print_basic(ds):
  print(f'Shape:\n{ds.shape}\n\n{ds.dtypes}')
  return None

In [301]:
tb_ds = pd.read_csv('https://raw.githubusercontent.com/himalayahall/DATA602/main/TB_burden_age_sex_2023-03-24.csv')
tb_ds.head()

,country,iso2,iso3,iso_numeric,year,measure,unit,age_group,sex,risk_factor,best,lo,hi
0,Afghanistan,AF,AFG,4,2021,inc,num,0-14,a,all,16000,8000.0,24000.0
1,Afghanistan,AF,AFG,4,2021,inc,num,0-14,f,all,7600,2300.0,13000.0
2,Afghanistan,AF,AFG,4,2021,inc,num,0-14,m,all,8200,2500.0,14000.0
3,Afghanistan,AF,AFG,4,2021,inc,num,0-4,f,all,3400,0.0,8600.0
4,Afghanistan,AF,AFG,4,2021,inc,num,0-4,m,all,4000,0.0,10000.0

In [302]:
print_all(tb_ds)

Summary:
       iso_numeric    year          best            lo            hi
count  7333.000000  7333.0  7.333000e+03  7.310000e+03  7.310000e+03
mean    430.669712  2021.0  8.129363e+03  4.610924e+03  1.227868e+04
std     252.630951     0.0  6.851959e+04  5.348499e+04  8.579468e+04
min       4.000000  2021.0  0.000000e+00  0.000000e+00  0.000000e+00
25%     208.000000  2021.0  9.000000e+00  0.000000e+00  1.500000e+01
50%     428.000000  2021.0  1.600000e+02  1.500000e+01  2.800000e+02
75%     643.000000  2021.0  1.400000e+03  2.200000e+02  2.700000e+03
max     894.000000  2021.0  2.950000e+06  2.490000e+06  3.420000e+06

Missing values:
country         0
iso2           36
iso3            0
iso_numeric     0
year            0
measure         0
unit            0
age_group       0
sex             0
risk_factor     0
best            0
lo             23
hi             23
dtype: int64

Shape:
(7333, 13)

country         object
iso2            object
iso3            object
iso_numeric      int64
year             int64
measure         object
unit            object
age_group       object
sex             object
risk_factor     object
best             int64
lo             float64
hi             float64
dtype: object

# Data Wrangling
Create a subset of your original data and perform the following.  

1. Modify multiple column names.

2. Look at the structure of your data – are any variables improperly coded? Such as strings or characters? Convert to correct structure if needed.

3. Fix missing and invalid values in data.

4. Create new columns based on existing columns or calculations.

5. Drop column(s) from your dataset.

6. Drop a row(s) from your dataset.

7. Sort your data based on multiple variables. 

8. Filter your data based on some condition. 

9. Convert all the string values to upper or lower cases in one column.

10. Check whether numeric values are present in a given column of your dataframe.

11. Group your dataset by one column, and get the mean, min, and max values by group. 
  * Groupby()
  * agg() or .apply()

12. Group your dataset by two columns and then sort the aggregated results within the groups. 

**You are free (and should) to add on to these questions.  Please clearly indicate in your assignment your answers to these questions.**

In [303]:
# 1 - Rename TB incidence estimate columns - add _est suffix
tb_ds = tb_ds.rename(columns={"best" : "best_est", "hi" : "hi_est", "lo" : "lo_est"})
tb_ds.head()

,country,iso2,iso3,iso_numeric,year,measure,unit,age_group,sex,risk_factor,best_est,lo_est,hi_est
0,Afghanistan,AF,AFG,4,2021,inc,num,0-14,a,all,16000,8000.0,24000.0
1,Afghanistan,AF,AFG,4,2021,inc,num,0-14,f,all,7600,2300.0,13000.0
2,Afghanistan,AF,AFG,4,2021,inc,num,0-14,m,all,8200,2500.0,14000.0
3,Afghanistan,AF,AFG,4,2021,inc,num,0-4,f,all,3400,0.0,8600.0
4,Afghanistan,AF,AFG,4,2021,inc,num,0-4,m,all,4000,0.0,10000.0

In [304]:
# 2 and 3 - Change columns to categorical (measure, sex) and int (best_Est, lo_est, hi_est), fix missing values

# First, replace missing values in lo_est and hi_est with 0. Otherwise data type conversion will not work
tb_ds['lo_est'] = tb_ds['lo_est'].fillna(0)
tb_ds['hi_est'] = tb_ds['hi_est'].fillna(0)

# Change column types
tb_ds = tb_ds.astype({'measure' : 'category', 'sex' : 'category', 'best_est': 'int', 'lo_est': 'int', 'hi_est': 'int'}, errors='ignore')
print_basic(tb_ds)

Shape:
(7333, 13)

country          object
iso2             object
iso3             object
iso_numeric       int64
year              int64
measure        category
unit             object
age_group        object
sex            category
risk_factor      object
best_est          int64
lo_est            int64
hi_est            int64
dtype: object

In [305]:
# 4 - Create age_min, and age_max. For example, if age_group = 0-14 then age_min = 0, age_max = 14
age_min_max = tb_ds.age_group.str.extract('(\d+)\-(\d+)').dropna().astype(int)
age_min_max = age_min_max.rename({0 : 'age_min', 1 : 'age_max'}, axis = 'columns')
print(f'age_min_max:\n\n{age_min_max}')

age_min_plus = tb_ds.age_group.str.extract('(\d+)plus').dropna().astype(int)
age_min_plus = age_min_plus.rename({0 : 'age_min'}, axis = 'columns')
print(f'age_min_plus:\n\n{age_min_plus}')

age_ranges = pd.concat([age_min_max, age_min_plus])
print(f'age_ranges:\n\n{age_ranges}')

age_min_max:

      age_min  age_max
0           0       14
1           0       14
2           0       14
3           0        4
4           0        4
...       ...      ...
7322       45       54
7323        5       14
7324        5       14
7325       55       64
7326       55       64

[3655 rows x 2 columns]
age_min_plus:

      age_min
7          15
8          15
9          15
10         15
11         15
...       ...
7314       18
7315       18
7316       18
7327       65
7328       65

[2701 rows x 1 columns]
age_ranges:

      age_min  age_max
0           0     14.0
1           0     14.0
2           0     14.0
3           0      4.0
4           0      4.0
...       ...      ...
7314       18      NaN
7315       18      NaN
7316       18      NaN
7327       65      NaN
7328       65      NaN

[6356 rows x 2 columns]

In [306]:
tb_ds = tb_ds.join(age_ranges)
tb_ds

,country,iso2,iso3,iso_numeric,year,measure,unit,age_group,sex,risk_factor,best_est,lo_est,hi_est,age_min,age_max
0,Afghanistan,AF,AFG,4,2021,inc,num,0-14,a,all,16000,8000,24000,0.0,14.0
1,Afghanistan,AF,AFG,4,2021,inc,num,0-14,f,all,7600,2300,13000,0.0,14.0
2,Afghanistan,AF,AFG,4,2021,inc,num,0-14,m,all,8200,2500,14000,0.0,14.0
3,Afghanistan,AF,AFG,4,2021,inc,num,0-4,f,all,3400,0,8600,0.0,4.0
4,Afghanistan,AF,AFG,4,2021,inc,num,0-4,m,all,4000,0,10000,0.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7328,Zimbabwe,ZW,ZWE,716,2021,inc,num,65plus,m,all,1600,0,3300,65.0,NaN
7329,Zimbabwe,ZW,ZWE,716,2021,inc,num,all,a,all,30000,21000,40000,NaN,NaN
7330,Zimbabwe,ZW,ZWE,716,2021,inc,num,all,a,hiv,17000,9800,27000,NaN,NaN
7331,Zimbabwe,ZW,ZWE,716,2021,inc,num,all,f,all,13000,7100,18000,NaN,NaN
7332,Zimbabwe,ZW,ZWE,716,2021,inc,num,all,m,all,18000,10000,25000,NaN,NaN

In [307]:
# 5 - drop column iso3 from dataset
tb_ds = tb_ds.drop(columns=['iso3'])
tb_ds.head()

,country,iso2,iso_numeric,year,measure,unit,age_group,sex,risk_factor,best_est,lo_est,hi_est,age_min,age_max
0,Afghanistan,AF,4,2021,inc,num,0-14,a,all,16000,8000,24000,0.0,14.0
1,Afghanistan,AF,4,2021,inc,num,0-14,f,all,7600,2300,13000,0.0,14.0
2,Afghanistan,AF,4,2021,inc,num,0-14,m,all,8200,2500,14000,0.0,14.0
3,Afghanistan,AF,4,2021,inc,num,0-4,f,all,3400,0,8600,0.0,4.0
4,Afghanistan,AF,4,2021,inc,num,0-4,m,all,4000,0,10000,0.0,4.0

In [308]:
# 6 - drop row 3 from dataset
tb_ds = tb_ds.drop([3])
tb_ds.head()

,country,iso2,iso_numeric,year,measure,unit,age_group,sex,risk_factor,best_est,lo_est,hi_est,age_min,age_max
0,Afghanistan,AF,4,2021,inc,num,0-14,a,all,16000,8000,24000,0.0,14.0
1,Afghanistan,AF,4,2021,inc,num,0-14,f,all,7600,2300,13000,0.0,14.0
2,Afghanistan,AF,4,2021,inc,num,0-14,m,all,8200,2500,14000,0.0,14.0
4,Afghanistan,AF,4,2021,inc,num,0-4,m,all,4000,0,10000,0.0,4.0
5,Afghanistan,AF,4,2021,inc,num,15-24,f,all,7400,0,19000,15.0,24.0

In [309]:
# 7 - Sort by country, age-group,
tb_ds = tb_ds.sort_values(by=['country', 'age_group', 'best_est'])
tb_ds.head()

,country,iso2,iso_numeric,year,measure,unit,age_group,sex,risk_factor,best_est,lo_est,hi_est,age_min,age_max
1,Afghanistan,AF,4,2021,inc,num,0-14,f,all,7600,2300,13000,0.0,14.0
2,Afghanistan,AF,4,2021,inc,num,0-14,m,all,8200,2500,14000,0.0,14.0
0,Afghanistan,AF,4,2021,inc,num,0-14,a,all,16000,8000,24000,0.0,14.0
4,Afghanistan,AF,4,2021,inc,num,0-4,m,all,4000,0,10000,0.0,4.0
6,Afghanistan,AF,4,2021,inc,num,15-24,m,all,6200,0,16000,15.0,24.0

In [310]:
# 8 - Filter/select data where the risk factor for females (sex=f) is smoking (risk_factor=smk)
female_smoking = tb_ds[(tb_ds.sex =='f') & (tb_ds.risk_factor == 'smk')]
female_smoking.sort_values(by=['best_est'], ascending=False)

,country,iso2,iso_numeric,year,measure,unit,age_group,sex,risk_factor,best_est,lo_est,hi_est,age_min,age_max
3071,India,IN,356,2021,inc,num,15plus,f,smk,7700,1800,18000,15.0,NaN
5217,Philippines,PH,608,2021,inc,num,15plus,f,smk,6600,1200,17000,15.0,NaN
3107,Indonesia,ID,360,2021,inc,num,15plus,f,smk,4300,1400,9100,15.0,NaN
5003,Pakistan,PK,586,2021,inc,num,15plus,f,smk,4100,810,9800,15.0,NaN
6132,South Africa,ZA,710,2021,inc,num,15plus,f,smk,2400,280,6700,15.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5658,Samoa,WS,882,2021,inc,num,15plus,f,smk,0,0,1,15.0,NaN
3323,Jamaica,JM,388,2021,inc,num,15plus,f,smk,0,0,0,15.0,NaN
5718,Sao Tome and Principe,ST,678,2021,inc,num,15plus,f,smk,0,0,1,15.0,NaN
1871,Democratic People's Republic of Korea,KP,408,2021,inc,num,15plus,f,smk,0,0,0,15.0,NaN
686,Belize,BZ,84,2021,inc,num,15plus,f,smk,0,0,0,15.0,NaN

In [311]:
# 9 - Convert country name to uppercase
tb_ds['country'] = tb_ds['country'].str.upper()
tb_ds.head()

,country,iso2,iso_numeric,year,measure,unit,age_group,sex,risk_factor,best_est,lo_est,hi_est,age_min,age_max
1,AFGHANISTAN,AF,4,2021,inc,num,0-14,f,all,7600,2300,13000,0.0,14.0
2,AFGHANISTAN,AF,4,2021,inc,num,0-14,m,all,8200,2500,14000,0.0,14.0
0,AFGHANISTAN,AF,4,2021,inc,num,0-14,a,all,16000,8000,24000,0.0,14.0
4,AFGHANISTAN,AF,4,2021,inc,num,0-4,m,all,4000,0,10000,0.0,4.0
6,AFGHANISTAN,AF,4,2021,inc,num,15-24,m,all,6200,0,16000,15.0,24.0

In [312]:
# 10 - Check whether numeric values are present in measure and best_est columns
print(f'measure: {pd.to_numeric(tb_ds["measure"], errors="coerce").notnull().any()}, best_est: {pd.to_numeric(tb_ds["best_est"], errors="coerce").notnull().any()}')

measure: False, best_est: True

In [313]:
# 11 - Group by country and get the mean, min, and max vaklues for best_est by group.
tb_ds.groupby('country').best_est.agg(['min', 'max', 'mean'])

                           min     max          mean
country
AFGHANISTAN                 85   76000  11967.000000
ALBANIA                      2     480     73.944444
ALGERIA                      0   24000   3595.055556
AMERICAN SAMOA               0       2      0.440000
ANDORRA                      0       2      0.294118
...                        ...     ...           ...
VIET NAM                   280  169000  26646.666667
WALLIS AND FUTUNA ISLANDS    0       0      0.000000
YEMEN                       15   16000   2549.111111
ZAMBIA                     360   60000  10220.571429
ZIMBABWE                    63   30000   5224.942857

[215 rows x 3 columns]

In [314]:
# 12 - Group your dataset by two columns and then sort the aggregated results within the groups.
tb_ds.groupby(by=['country', 'sex']).best_est.agg(['min', 'max', 'mean']).sort_values(by=['country', 'mean'])

                  min    max          mean
country     sex
AFGHANISTAN m     470  37000   8340.714286
            f      85  39000   8880.384615
            a     380  76000  23328.750000
ALBANIA     f       2    170     36.714286
            m       2    310     74.500000
...               ...    ...           ...
ZAMBIA      m    1200  38000   9078.571429
            a    1900  60000  23328.571429
ZIMBABWE    f      63  13000   2805.928571
            m     540  18000   4249.285714
            a    1000  30000  12014.285714

[645 rows x 3 columns]

# Conclusions  

This dataset is fairly comprehensive with few missing values. 

However, this dataset is not in a [tidy](https://cran.r-project.org/web/packages/tidyr/vignettes/tidy-data.html) format. For example, TB incidence counts appears as 3 seperate columns - 'best', 'lo', and 'high'. 

To tidy this dataset, one would **pivot longer** by adding a column for the incidence measure type - e.g. 'incidence_type' - and another column for the specific measure count. The tidy format would enable additional incidence measure types to be added - e.g. mean, std - without changing the table format.

Given more time I would include visualizations and an interactive **Shiny** app for interactive data exploration.